<%- include("partials/header") %>
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="text-center">
        <img src="/images/love.jpg" alt="love-img" class="img-fluid love-img" />
      </div>
    </div>
    <div class="col-lg-6">
      <h1 class="form-heading">Find Your Real Connections</h1>
      <form action="/suitable" method="post">
        <p class="output-text"><%= text %></p>
        <input class="form-control" type="text" name="dating" id="match" />
        <div class="form-text">
          We'll never share your information with anyone else.
        </div>
        <div>
          <% if(foundItem.length >= 1){ %> Hi <%= suitableName %> , <%
          foundItem.forEach((user)=>{ %> a person called <%= user.name %> is
          interested in you and requested your details, the age is <%=user.age
          %> based in <%=user.county %>. Do you want to know more text yes. <%
          }) %> <%}%>
        </div>
        <button class="btn btn-info btn-lg" type="submit">
          <i class="fa-solid fa-check"></i> Submit
        </button>
      </form>
    </div>
  </div>
</div>
<script>
  if (window.history.replaceState) {
    window.history.replaceState(null, null, window.location.href);
  }
</script>

<%- include("partials/footer") %>
